@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f9f9fc;
}
.main-preview {
  background-color: #dadada;
  height: 50vh;
  width: 80vh;
  margin: auto;
}
.toggle-preview {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main-preview > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.experiment-number-holder {
  position: absolute;
  top: 10px;
  left: 60px;
  border: 3px solid white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
}
.experiment-number {
  margin: 0 !important;
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-text {
  border: 1px solid red;
}
